/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
}

/* Make the masthead heading the same height as the navigation */
.header h1 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color: black;
}

/* Custom page footer */
.footer {
  position: absolute;
  bottom: 0;
}

figure {
  text-align: center;
  padding-bottom: 5em;
}
